
body {
  font-family: var(--font-main);
  background-color: rgb(235, 235, 235);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-bottom: 1rem;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.skip-links {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  font-weight: bold;
  z-index: 100;
  transition: top 0.3s ease;
}

.skip-links{
  margin: 0;
  padding: 0;
  list-style: none;
}

.skip-links a:focus {
  margin-left: 0.21%;
}

header, footer {
  background-color: var(--accent-color);
  padding: 1rem 0;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.main-nav li {
  margin: 0 1rem;
}

.main-nav a {
  font-size: 1.25rem;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.main-nav a:hover{
  color: chocolate;
}

form input,
form textarea {
  display: block;
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: capitalize;
}

.site-footer {
  padding: 2rem 0;
}